{% extends "haptest/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="admin-biaogelist">
        <div class="listbiaoti am-cf">
            <dl>
                <a href={% url 'haptest:run_case_add' 0 %}>
                    <button class="am-btn am-btn-success  am-btn-sm am-radius"> 新增</button>
                </a>
            </dl>
            <dl>
                <form id="choice_delete" action={% url 'haptest:run_case_delete' %} }} method="post">
                    {% csrf_token %}
                    <button type="submit" class="am-btn am-btn-success  am-btn-sm am-radius"> 删除</button>
                </form>
            </dl>
            <dl>
                <button type="button" class="am-btn am-btn-success  am-btn-sm am-radius"
                        data-toggle="modal" data-target="#bulk_uploadcase">导入
                </button>
            </dl>
            <ul  style="float: right;">元素管理</ul>
        </div>


        <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
            <form id="pro_filter" method="post" action="/api/project_list/1/">
                <ul>
                    <li style="padding-top: 5px">
                        <select name="project" class="am-input-zm am-input-xm">
                            <option value="{{ info.belong_project }}"
                                    selected>{{ info.belong_project }}</option>

                            {% for foo in project_all %}
                                {% ifnotequal info.belong_project foo.project_name %}
                                    <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>
                                {% endifnotequal %}

                            {% endfor %}

                            {% if info.belong_project != 'All' %}
                                <option value="All">All</option>
                            {% endif %}
                        </select>
                    </li>
                    <li style="padding-top: 5px"><input value="{{ info.user }}" type="text" name="user"
                                                        class="am-input-sm am-input-xm"
                                                        placeholder="负责人"/></li>

                    <li>
                        <button style="padding-top: 5px; margin-top: 9px"
                                class="am-btn am-radius am-btn-xs am-btn-success">搜索
                        </button>
                    </li>
                </ul>
            </form>
        </div>
        <div class="am-form am-g" id="project_list" name="project_list" method="post">
            <table  class="am-table am-table-bordered am-table-radius am-table-striped">
                <thead>
                <tr>
                    <th class="table-check"><input type="checkbox" id="select_all"/></th>
                    <th class="table-title">序号</th>
                    <th class="table-title">页面</th>
                    <th class="table-title">元素</th>
                    <th class="table-title">by</th>
                    <th class="table-title">value</th>
                    <th class="table-title">custom</th>
                    <th class="table-title">备注</th>
                    <th class="table-title">所属平台</th>
                </tr>
                </thead>
                <tbody>
                {% for p in data_set %}
                    <tr>
                        <td ><input type="checkbox" name="run_case_choice" value="{{ p.id }}" form="choice_delete"/></td>
                        <td>{{ forloop.counter }}</td>
                        <td >
                            <a href={% url 'haptest:run_case_add' p.id %}>{{ p.page }}</a>
                        </td>
                        <td>
                            <a href={% url 'haptest:run_case_add' p.id %}>{{ p.run_case }}</a>
                        </td>
                        <td>{{ p.by }}</td>
                        <td>{{ p.value }}</td>
                        <td>{{ p.custom }}</td>
                        <td>{{ p.remark }}</td>
                        <td>{{ p.plateform }}</td>

                        {% for key, value in sum.items %}
                            {% ifequal foo.id key %}
                                <td>{{ value }}</td>
                            {% endifequal %}
                        {% endfor %}

                    </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>
    <script type="text/javascript">
        function edit(id, pro_name, responsible_name, test_user, dev_user, publish_app, simple_desc, other_desc) {
            $('#index').val(id);
            $('#project_name').val(pro_name);
            $('#responsible_name').val(responsible_name);
            $('#test_user').val(test_user);
            $('#dev_user').val(dev_user);
            $('#publish_app').val(publish_app);
            $('#simple_desc').val(simple_desc);
            $('#other_desc').val(other_desc);
            $('#my-edit').modal({
                relatedTarget: this,
                onConfirm: function () {
                    update_data_ajax('#list_project', '/api/project_list/1/')
                },
                onCancel: function () {
                }
            });
        }

        function invalid(name) {
            $('#my-invalid').modal({
                relatedTarget: this,
                onConfirm: function () {
                    del_data_ajax(name, '/api/project_list/1/')
                },
                onCancel: function () {
                }
            });
        }

        $('#mode').change(function () {
            if ($('#mode').val() === 'false') {
                $('#report_name').removeAttr("readonly");
            } else {
                $('#report_name').attr('readonly', 'readonly');
            }
        });

        function run_test(mode, url, type) {
            if (mode === 'batch') {
                if ($("input:checked").size() === 0) {
                    myAlert("请至少选择一个项目运行！");
                    return;
                }
            }
            $('#select_env').modal({
                relatedTarget: this,
                onConfirm: function () {
                    var data = {
                        "id": $("#project_list").serializeJSON(),
                        "env_name": $('#env_name').val(),
                        "type": type,
                        'report_name': $('#report_name').val()
                    };
                    if (mode !== 'batch') {
                        data["id"] = mode;
                    }
                    if ($('#mode').val() === 'true') {
                        if (mode === 'batch') {
                            var json2map = JSON.stringify(data['id']);
                            var obj = JSON.parse(json2map);
                            obj['env_name'] = data['env_name'];
                            obj['type'] = data['type'];
                            post('/api/run_batch_test/', obj);
                        } else {
                            post('/api/run_test/', data);
                        }
                    } else {
                        $.ajax({
                            type: 'post',
                            url: url,
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (data) {
                                myAlert(data);
                            },
                            error: function () {
                                myAlert('Sorry，服务器可能开小差啦, 请重试!');
                            }
                        });
                    }
                },
                onCancel: function () {
                }
            });
        }

        $('#select_all').click(function () {
            var isChecked = $(this).prop("checked");
            $("input[name^='project']").prop("checked", isChecked);
        })
    </script>


{% endblock %}