{% extends "haptest/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="admin-biaogelist" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

        <div class="listbiaoti am-cf">
            <dl>
                <form class="form-horizontal" id="testcase_save_form" method="post">
                    {% csrf_token %}
                    {{ casestep_form_set.management_form }}
                    {#                    {{ casestep_form_set.errors }}#}
                    <input type="submit" value="保存返回" class="am-btn am-btn-success  am-btn-sm am-radius">
                    <div style="margin-top: 2%;"></div>
                </form>
            </dl>
            <ul style="float: right;">用例编辑</ul>
        </div>


        <div class="am-tabs am-margin">
            <ul class="am-tabs-nav am-nav am-nav-tabs" id="tab-test">
                <li><a href="javascript:;" data-target="#tab1">用例</a></li>
                <li><a href="javascript:;" data-target="#tab2">用例步骤</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel" id="tab1">
                    <div style="float: left; width: 40%;">
                        <form class="form-horizontal">
                            {% for f in form %}
                                <div class="form-group">
                                    <div class="input-group col-md-10 col-md-offset-1">
                                        <label class="input-group-addon" for={{ f.name }}> {{ f.label }} </label>
                                        {{ f }}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>

                </div>

                <div class="am-tab-panel" id="tab2">
                    <button value="添 加" onclick="add_row('casestep')">添加行
                    </button>
                    <button value="删 除" onclick="del_row('variables')">删除行
                    </button>
                    {#page_element_url={% url 'haptest:page_element ' %}#}
                    <form id="form_casesteps">
                        <table class="table table-hover table-condensed table-bordered table-striped"
                               id="casestep">
                            <caption></caption>
                            <tr>
                                <th width="5%" align="center" hidden>id</th>
                                <th width="5%" align="center"></th>
                                <th width="8%" align="center">步骤</th>
                                <th width="10%" align="center">操作</th>
                                <th width="10%" align="center">页面</th>
                                <th width="30%" align="center">元素</th>
                                <th width="30%" align="center">测试数据</th>
                                <th width="20%" align="center">输出数据</th>
                            </tr>
                            {% for casestep_form in casestep_form_set %}
                                <tr>
                                    <td hidden>{{ casestep_form.id }}</td>
                                    <td><input type="checkbox" name=""></td>
                                    <td>{{ casestep_form.no }}</td>
                                    {#                                    <div>{{ casestep_form.no.errors }}</div>#}
                                    <td>{{ casestep_form.keyword }}</td>
                                    <td>{{ casestep_form.page }}</td>
                                    <td>{{ casestep_form.element }}</td>
                                    <td>{{ casestep_form.data }}</td>
                                    <td>{{ casestep_form.output }}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </form>


                </div>

            </div>

        </div>

    </div>
    <script>
        editor = null;

        $('#DataType').on('change', function () {
            if ($('#DataType').val() === 'json') {
                $('#add_data').attr('disabled', true);
                $('#del_data').attr('disabled', true);
                $('#data').remove();
                var json_text = "<span style=\"font-size:10px;\" id=\"json-text\">\n" +
                    " <div style=\"margin-left: 0px; margin-top: 5px; height: 200px\">" +
                    "<pre id=\"code\" class=\"ace_editor\" style=\"margin-top: 0px; margin-bottom: 0px; min-height: 200px;\">\n" +
                    "<textarea>\n" +
                    "{\"key\":\"value\"}\n" +
                    "</textarea>\n" +
                    "</pre></div></span>";

                $('#form_request_data').append(json_text);

                editor = ace.edit("code");
                init_acs('json', 'github', editor);

            } else {
                var table = '<table class="table table-hover table-condensed table-bordered table-striped" id="data">\n' +
                    '                                <caption>' + $('#DataType').val() + ':</caption>\n' +
                    '                                <thead>\n' +
                    '                                <tr class="active text-success">\n' +
                    '                                    <th width="5%" align="center">Option</th>\n' +
                    '                                    <th width="30%" align="center">Key</th>\n' +
                    '                                    <th width="5%" align="center">Type</th>\n' +
                    '                                    <th width="60%" align="center">Value</th>\n' +
                    '                                </tr>\n' +
                    '                                </thead>\n' +
                    '                                <tbody>\n' +
                    '                                </tbody>\n' +
                    '                            </table>';

                $('#add_data').text('add ' + $('#DataType').val());
                $('#del_data').text('del ' + $('#DataType').val());

                $('#add_data').removeAttr("disabled");
                $('#del_data').removeAttr("disabled");
                $('#data').remove();
                $('#json-text').remove();
                $('#form_request_data').append(table);
            }
        });

        $("#tab-test").on("click", "li", function () {
            $(this).addClass("am-active").siblings("li").removeClass("am-active");
            var target = $(this).children("a").attr("data-target");
            $(target).addClass("am-active").siblings(".am-tab-panel").removeClass("am-active");
        }).find("li").eq(0).trigger("click");

        $(function () {
            $("#pre_case").sortable();
            $("#pre_case").disableSelection();
        });

        $('#config').on('change', function () {
            if ($('#config').val() !== '请选择') {
                var case_id = $('#config').val();
                var case_name = $('#config option:selected').text();
                var href = "<li disbaled id=" + case_id + " name='pre_config'><a style='color: cadetblue' href='/api/edit_config/" + case_id + "/' id = " + case_id + ">" + case_name + "" +
                    "</a><i class=\"js-remove\" onclick=remove_self('#" + case_id + "')>✖</i></li>";
                $("li[name='pre_config']").remove();
                $("#pre_case").prepend(href);
                $('#config_pre').val("{'config': ['" + case_id + "', '" + case_name + "']}");
            }
        });

        $("li[name='pre_config'] a i").on('click', function () {
            $('#config_pre').val("");
        });

        $('#belong_case_id').on('change', function () {
            if ($('#belong_case_id').val() !== '请选择') {
                var case_id = $('#belong_case_id').val();
                var case_name = $('#belong_case_id option:selected').text();
                var href = "<li id=" + case_id + "><a href='/api/edit_case/" + case_id + "/' id = " + case_id + ">" + case_name + "" +
                    "</a><i class=\"js-remove\" onclick=remove_self('#" + case_id + "')>✖</i></li>";
                $("#pre_case").append(href);
            }
        });

        function remove_self(id) {
            $(id).remove();
        };

        $('#save').on('click', function () {
            if ($("li[name='pre_config']").length <= 0) {
                $('#config_pre').val("");
            }
            $('#save_test').modal({
                relatedTarget: this,
                onConfirm: function () {
                    case_ajax('add', editor)
                },
                onCancel: function () {
                }
            });
        });
        $(function () {
                var nodes = ['id_project', 'id_case_code', 'id_title', 'id_condition', 'id_designer', 'id_priority', 'id_remark'];
                for (var i = 0; i < nodes.length; i++) {
                    var node = nodes[i];
                    node = "#" + node;
                    {#$(node).attr("form", "testcase_save_form");#}
                    $(node).attr({form: "testcase_save_form", class: "form-control"});
                }
            }
        );
        $(function () {
            $("tr td").children().attr({form: "testcase_save_form",});
        })
        $('select[id*="id_casestep_set"][id*="page"]').change(function () {
            var data = $(this).val();
            var url = '/haptest/page_element/'+data;
            $.get(url, function (data) {
                $(this).parent().next().children().html('111111');
            });
        });
    </script>


{% endblock %}