{% extends "haptest/base.html" %}
{% load staticfiles %}
{% block content %}


    <div class="admin-biaogelist" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        {% if casestep_form_set.errors %}
            <div>{{ casestep_form_set.errors }}</div>
        {% endif %}
        <div class="listbiaoti am-cf">
            <dl>
                <form class="form-horizontal" id="testcase_save_form" method="post">
                    {% csrf_token %}
                    {{ casestep_form_set.management_form }}

                    <input type="submit" value="保存返回" class="am-btn am-btn-success  am-btn-sm am-radius">
                    <div style="margin-top: 2%;"></div>
                </form>
            </dl>
            <ul style="float: right;">用例编辑</ul>
        </div>


        <div class="am-tabs am-margin">
            <ul class="am-tabs-nav am-nav am-nav-tabs" id="tab-test">
                <li><a href="javascript:;" data-target="#tab1">用例</a></li>
                <li><a href="javascript:;" data-target="#tab2">用例步骤</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel" id="tab1">
                    <div style="float: left; width: 40%;">
                        <form class="form-horizontal">
                            {% for f in form %}
                                <div class="form-group">
                                    <div class="input-group col-md-10 col-md-offset-1">
                                        <label class="input-group-addon" for={{ f.name }}> {{ f.label }} </label>
                                        {{ f }}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </div>

                </div>

                <div class="am-tab-panel" id="tab2">
                    <button value="添 加" onclick="add_row('casestep')">添加行
                    </button>
                    <button value="删 除" onclick="del_row('casestep')">删除行
                    </button>
                    {#page_element_url={% url 'haptest:page_element ' %}#}
                    <form id="form_casesteps">
                        <table class="table table-hover table-condensed table-bordered table-striped"
                               id="casestep">
                            <caption></caption>
                            <tr>
                                <th width="5%" align="center" hidden>id</th>
                                <th width="5%" align="center"></th>
                                <th width="8%" align="center">步骤</th>
                                <th width="10%" align="center">操作</th>
                                <th width="10%" align="center">页面</th>
                                <th width="30%" align="center">元素</th>
                                <th width="30%" align="center">测试数据</th>
                                <th width="20%" align="center">输出数据</th>
                                <th width="5%" align="center">标记删除</th>
                            </tr>
                            {{ casestep_form_set.management_form }}
                            {% for casestep_form in casestep_form_set %}
                                <tr>
                                    <td hidden>{{ casestep_form.id }}</td>
                                    <td><input type="checkbox" name="casestep" value="{{ casestep_form.id.value }}"
                                               form=""></td>
                                    <td>{{ casestep_form.no }}</td>
                                    {#                                    <div>{{ casestep_form.no.errors }}</div>#}
                                    <td>{{ casestep_form.keyword }}</td>
                                    <td>{{ casestep_form.page }}</td>
                                    <td>{{ casestep_form.element }}</td>
                                    {#                                    <td>#}
                                    {#                                        <select name="casestep_set-{{ forloop.counter0 }}-element" maxlength="10"#}
                                    {#                                                id="id_casestep_set-{{ forloop.counter0 }}-element" form="testcase_save_form" value={{ casestep_for }}></select>#}
                                    {#                                    </td>#}
                                    <td>{{ casestep_form.data }}</td>
                                    <td>{{ casestep_form.output }}</td>
                                    <td>{{ casestep_form.DELETE }}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </form>


                </div>

            </div>

        </div>

    </div>
    <script>
        editor = null;

        $("#tab-test").on("click", "li", function () {
            $(this).addClass("am-active").siblings("li").removeClass("am-active");
            var target = $(this).children("a").attr("data-target");
            $(target).addClass("am-active").siblings(".am-tab-panel").removeClass("am-active");
        }).find("li").eq(0).trigger("click");


        function remove_self(id) {
            $(id).remove();
        };

        $(function () {
                var nodes = ['id_project', 'id_case_code', 'id_title', 'id_condition', 'id_designer', 'id_priority', 'id_remark',"id_module_name"];
                for (var i = 0; i < nodes.length; i++) {
                    var node = nodes[i];
                    node = "#" + node;
                    $(node).attr({form: "testcase_save_form", class: "form-control"});
                }
            }
        );
        {#表单form属性添加#}
        $(function () {
            $("tr td").children().attr({form: "testcase_save_form",});
            $("tr td:nth-of-type(2) input[type=\"checkbox\"]").attr({form: "choice_delete",});
        });

        $('select[id*="id_casestep_set"][id*="page"]').change(function () {
            var data0 = $(this).val();
            var url = '/haptest/page_element/' + data0;
            var ele_this = $(this)
            $.get(url, function (data) {
                ele_this.parent().next().children().html(data);
            });
        });

    </script>


{% endblock %}